<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>О нас - Морские Дали</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
  <header>
    <h1>Морские Дали</h1>
    <div class="links">
      <a href="/login">Вход</a>
      <a href="/registry">Создать аккаунт</a>
    </div>
    <nav>
      <ul>
        <li><a href="/">Главная</a></li>
        <li><a href="/about">О нас</a></li>
        <li><a href="/content">Магазин</a></li>
        <li><a href="/contact">Контакты</a></li>
        <li><a href="/create">Добавить запись</a></li>
      </ul>
    </nav>
  </header>

  <section id="about">
    <h2>О нас</h2>
    <div class="text-content">
      <h1>Название: Морские Дали</h1>
      <h2>Лозунг: "Красота морского мира у вас дома!"</h2>
      <h2>История:</h2>
      <p>
        "Морские Дали" - это история о страсти к морским созданиям и стремлении поделиться этой страстью с остальным
        миром.
        Основатель компании, Анна, с детства мечтала о том, чтобы каждый мог наслаждаться красотой морских обитателей
        прямо у себя дома.
        Изучая морскую биологию и занимаясь аквариумистикой, Анна собрала впечатляющую коллекцию самых разнообразных и
        удивительных видов морских рыбок.
        Ее умение создавать идеальные условия для их жизни и развития не оставалось незамеченным,
        и скоро она начала делиться своими знаниями и опытом с другими любителями аквариумистики.
        Именно из этой страсти к морю и его обитателям родилась компания "Морские Дали".
        Анна решила создать место, где каждый сможет найти самых красивых и здоровых морских рыбок для своего аквариума.
        Ее целью было не просто продавать рыбок, но и создавать уникальные и вдохновляющие подводные миры прямо у
        клиентов дома.
        Создание сайта "Морские Дали" стало ключевым моментом на этом пути.
        На сайте были представлены самые разнообразные и захватывающие виды морских рыбок, а также все необходимое для
        создания и поддержания их обитаний:
        аквариумы, фильтры, декорации и специальные добавки. Каждый товар был тщательно отобран и протестирован командой
        экспертов "Морских Далей", чтобы обеспечить клиентам только лучшее.
        Команда "Морских Далей" стремится делиться своими знаниями и опытом с клиентами, помогая им создавать морские
        миры своей мечты прямо у себя дома. На сайте "Морских Далей"
        каждый найдет что-то особенное и вдохновляющее для своего аквариума, чтобы ощутить всю красоту морского мира
        прямо у себя дома.
      </p>
    </div>
  </section>

  <footer>
    <p>&copy; 2024 Морские Дали. All rights reserved.</p>
  </footer>
</body>

</html>