<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Магазин - Морские Дали</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
  <header>
    <h1>Морские Дали</h1>
    <div class="links">
      <a href="/login">Вход</a>
      <a href="/registry">Создать аккаунт</a>
    </div>
    <nav>
      <ul>
        <li><a href="/">Главная</a></li>
        <li><a href="/about">О нас</a></li>
        <li><a href="/content">Магазин</a></li>
        <li><a href="/contact">Контакты</a></li>
        <li><a href="/create">Добавить запись</a></li>
      </ul>
    </nav>
  </header>

  <section id="products">
    <div class="compa">
      <h1>Имя:      {{ product.name }}</h1><br>
      <h2>Цена:     {{ product.price }}</h2><br>
      <h2>Описание: {{ product.desc }}</h2>
      <h2><a href="/update/{{ product['_id'] }}">Изменить</a></h2>
      <h2><a href="/delete/{{ product['_id'] }}">Удалить</a></h2>
    </div>
  </section>

  <footer>
    <p>&copy; 2024 Морские Дали. All rights reserved.</p>
  </footer>
</body>

</html>